AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=omnicampus-docs
BEDROCK_KB_ROLE_ARN=
OPENSEARCH_COLLECTION_ARN=
KB_ADVISING_ID=
KB_FINAID_ID=
KB_WELLNESS_ID=
OMNARA_API_KEY=
